{{ $image := partialCached "helper/image" (dict "Context" .context "Type" .Type) .context.RelPermalink .Type }}
<article class="{{ if $image.exists }}has-image{{ end }}">
    <a href="{{ .context.RelPermalink }}">
        
        {{ if $image.exists }}
            <div class="article-image">
                {{ if $image.resource }}
                    {{- $imageRaw := $image.resource | resources.Fingerprint "md5" -}}
                    {{- $Permalink := $imageRaw.RelPermalink -}}
                    {{- $Width := $imageRaw.Width -}}
                    {{- $Height := $imageRaw.Height -}}

                    {{- if .context.Site.Params.imageProcessing.cover.enabled -}}
                        {{- $thumbnail := $imageRaw.Fill .size -}}
                        {{- $Permalink = $thumbnail.RelPermalink -}}
                        {{- $Width = $thumbnail.Width -}}
                        {{- $Height = $thumbnail.Height -}}
                    {{- end -}}
                    
                    <img src="{{ $Permalink }}" 
                        width="{{ $Width }}" 
                        height="{{ $Height }}" 
                        loading="lazy"
                        alt="Featured image of post {{ .context.Title }}"
                        {{ with .context.Slug }}data-key="{{ . }}" {{ end }}
                        data-hash="{{ $imageRaw.Data.Integrity }}">
                {{ else }}
                    <img src="{{ $image.permalink }}" loading="lazy" data-key="{{ .context.Slug }}" data-hash="{{ $image.permalink }}"/>
                {{ end }}
            </div>
        {{ end }}

        <div class="article-details" title={{ .context.Title }}>
            <h2 class="article-title">
                {{- .context.Title -}}
            </h2>
            {{ $showReadingTime := true }}
            {{ $showWords := true }}
            {{ $showDate := not .context.Date.IsZero }}
            {{ $showFooter := or $showDate $showReadingTime }}
            {{ if $showFooter }}
            <footer class="article-time">
                {{ if $showDate }}
                    <div>
                        <time class="article-time--published">
                            {{- .context.Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                        </time>
                    </div>
                {{ end }}
        
                {{ if $showReadingTime }}
                    <div>
                        <time class="article-time--reading">
                            {{ T "article.readingTime" .context.ReadingTime }}
                        </time>
                    </div>
                {{ end }}
            </footer>
            {{ end }}
            <h3 class="article-subtitle" style="font-size:1.4rem">
                {{- .context.Description -}}
            </h3>
        </div>
    </a>
</article>
