<blockquote>
    <p>{{ .Inner | markdownify }}</p>
    {{- if or (.Get "author") (.Get "source") -}}
    <span class="cite"><span>― </span>
        {{- if .Get "author" -}}
        <span>
            {{- if .Get "url" -}}<a class="link" href="{{ .Get "url" }}">{{ .Get "author" }}</a>{{- else -}}{{ .Get "author" }}{{- end -}}
            {{- if .Get "source" -}}, {{ end -}}
        </span>
        {{- end -}}
        {{- if .Get "source" -}}
            <cite>{{ .Get "source" }}</cite>
        {{- end -}}
    </span>
    {{- end -}}
</blockquote>